body {
  font-family: Arial, sans-serif;
}
.error {
  color: red;
}

.button {
  padding: 10px 20px;
  background-color: rgb(63, 63, 83);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: darkblue;
}
